<!-- <app-navbar></app-navbar> -->
<app-navbar 
    [mostrarEdicion]="false"
>
</app-navbar>

<main>
    <div class="container-fluid px-4 pt-4 mt-5">
        <div class="row">
            <div>
<!-- Banner y Presentación -->
<app-seccionbanner     
    [mostrarEdicion]="false"
>
</app-seccionbanner>
<!-- Sección Acerca de -->
<app-seccionacercade     
[mostrarEdicion]="false"
>
</app-seccionacercade>
<!-- Sección Experiencia -->
<app-seccionexperiencia     
[mostrarEdicion]="false"
>
</app-seccionexperiencia>
<!-- Sección Educación -->    
<app-seccioneducacion     
[mostrarEdicion]="false"
>
</app-seccioneducacion>
<!-- Sección Habilidades -->
<app-seccionhabilidades     
[mostrarEdicion]="false"
>
</app-seccionhabilidades>
<!-- Sección Proyectos -->
<app-seccionproyectos     
[mostrarEdicion]="false"
>
</app-seccionproyectos>
            </div>
        </div>
    </div>
</main>


<footer>
        
        
</footer>

<!-- Login Modal en Navbar -->
