<app-navbar 
    [mostrarEdicion]="true"
>
</app-navbar>
<main>
    <div class="container-fluid px-4 pt-4 mt-5">
        <div class="row">
            <div>
<!-- Banner y Presentación -->
<app-seccionbanner     
    [mostrarEdicion]="true"
>
</app-seccionbanner>
<!-- Sección Acerca de -->
<app-seccionacercade     
    [mostrarEdicion]="true"
>
</app-seccionacercade>
<!-- Sección Experiencia -->
<app-seccionexperiencia     
[mostrarEdicion]="true"
>
</app-seccionexperiencia>
<!-- Sección Educación -->    
<app-seccioneducacion     
[mostrarEdicion]="true"
>
</app-seccioneducacion>
<!-- Sección Habilidades -->
<app-seccionhabilidades     
[mostrarEdicion]="true"
>
</app-seccionhabilidades>
<!-- Sección Proyectos -->
<app-seccionproyectos     
[mostrarEdicion]="true"
>
</app-seccionproyectos>
            </div>
        </div>
    </div>
</main>


<footer>
        
        
</footer>

<!-- Login Modal en Navbar -->

<!-- Redes Modal -->
<app-redes></app-redes>

<!-- Presentación Modal -->
<app-presentacion></app-presentacion>

<!-- Acerca de Modal -->
<app-acercade></app-acercade>

<!-- Experiencia Modal  -->
<app-experiencia></app-experiencia>

<!-- Educación Modal -->
<app-educacion></app-educacion>

<!-- Habilidades Modal -->
<app-habilidades></app-habilidades>

<!-- Proyectos Modal -->
<app-proyectos></app-proyectos>

